In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 1. Data Ingestion

In [2]:
df =pd.read_csv('weather_data.csv')
df

,date,city,temperature_celsius,humidity_percent,wind_speed_kph,weather_condition
0,2023-01-01,New York,5.0,60.0,10.0,Sunny
1,01/02/2023,New York,NaN,65.0,12.0,Cloudy
2,03-01-2023,New York,7.0,NaN,8.0,Rainy
3,NaN,London,8.0,70.0,15.0,Unknown
4,2023-01-02,London,6.0,75.0,20.0,Snowy
...,...,...,...,...,...,...
95,01-01-2023,London,NaN,NaN,NaN,Rainy
96,09-01-2023,London,NaN,NaN,NaN,Rainy
97,2023-01-11,Tokyo,NaN,NaN,NaN,Sunny
98,15/01/2023,New York,NaN,41.0,24.3,NaN
99,01/12/2023,London,13.7,41.0,NaN,Unknown

In [3]:
df.isnull().sum()

date                   20
city                    0
temperature_celsius    58
humidity_percent       53
wind_speed_kph         45
weather_condition      16
dtype: int64

# 2.Data Cleaning and Trnsformation

In [19]:
from sklearn.impute import SimpleImputer

In [20]:
numerical_cols = df.select_dtypes(include = ['number']).columns
print('Numerical columns:', numerical_cols.tolist())

Numerical columns: ['temperature_celsius', 'humidity_percent', 'wind_speed_kph', 'temperature_fahrenheit']

In [21]:
catagorical_cols = df.select_dtypes(include=['object']).columns
print('Catagorical Columns:', catagorical_cols.tolist())

Catagorical Columns: ['date', 'city', 'weather_condition']

In [22]:
imputer_1 = SimpleImputer(strategy ='mean')
df[numerical_cols] = imputer_1.fit_transform(df[numerical_cols])
imputer_2 = SimpleImputer(strategy = 'most_frequent')
df[catagorical_cols] = imputer_2.fit_transform(df[catagorical_cols])
df

,date,city,temperature_celsius,humidity_percent,wind_speed_kph,weather_condition,temperature_fahrenheit
0,01-01-2023,New York,5.0,60.000000,10.000000,sunny,41.00
1,01-02-2023,New York,8.4,65.000000,12.000000,cloudy,47.12
2,03-01-2023,New York,7.0,58.978723,8.000000,rainy,44.60
3,14-01-2023,London,8.0,70.000000,15.000000,unknown,46.40
4,02-01-2023,London,6.0,75.000000,20.000000,snowy,42.80
...,...,...,...,...,...,...,...
95,01-01-2023,London,8.4,58.978723,14.352727,rainy,47.12
96,09-01-2023,London,8.4,58.978723,14.352727,rainy,47.12
97,11-01-2023,Tokyo,8.4,58.978723,14.352727,sunny,47.12
98,15-01-2023,New York,8.4,41.000000,24.300000,unknown,47.12
99,01-12-2023,London,13.7,41.000000,14.352727,unknown,56.66

In [23]:
df['temperature_fahrenheit'] = df['temperature_celsius'] * 9 / 5 + 32
df

,date,city,temperature_celsius,humidity_percent,wind_speed_kph,weather_condition,temperature_fahrenheit
0,01-01-2023,New York,5.0,60.000000,10.000000,sunny,41.00
1,01-02-2023,New York,8.4,65.000000,12.000000,cloudy,47.12
2,03-01-2023,New York,7.0,58.978723,8.000000,rainy,44.60
3,14-01-2023,London,8.0,70.000000,15.000000,unknown,46.40
4,02-01-2023,London,6.0,75.000000,20.000000,snowy,42.80
...,...,...,...,...,...,...,...
95,01-01-2023,London,8.4,58.978723,14.352727,rainy,47.12
96,09-01-2023,London,8.4,58.978723,14.352727,rainy,47.12
97,11-01-2023,Tokyo,8.4,58.978723,14.352727,sunny,47.12
98,15-01-2023,New York,8.4,41.000000,24.300000,unknown,47.12
99,01-12-2023,London,13.7,41.000000,14.352727,unknown,56.66

In [28]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True, errors='coerce')
df['date'] = df['date'].dt.strftime('%y-%m-%d')
df

,date,city,temperature_celsius,humidity_percent,wind_speed_kph,weather_condition,temperature_fahrenheit
0,23-01-01,New York,5.0,60.000000,10.000000,sunny,41.00
1,23-02-01,New York,8.4,65.000000,12.000000,cloudy,47.12
2,23-01-03,New York,7.0,58.978723,8.000000,rainy,44.60
3,23-01-14,London,8.0,70.000000,15.000000,unknown,46.40
4,23-01-02,London,6.0,75.000000,20.000000,snowy,42.80
...,...,...,...,...,...,...,...
95,23-01-01,London,8.4,58.978723,14.352727,rainy,47.12
96,23-01-09,London,8.4,58.978723,14.352727,rainy,47.12
97,23-01-11,Tokyo,8.4,58.978723,14.352727,sunny,47.12
98,23-01-15,New York,8.4,41.000000,24.300000,unknown,47.12
99,23-12-01,London,13.7,41.000000,14.352727,unknown,56.66

In [33]:
df = df[(df['weather_condition'].str.lower() != 'unknown')]

df

,date,city,temperature_celsius,humidity_percent,wind_speed_kph,weather_condition,temperature_fahrenheit
0,23-01-01,New York,5.0,60.000000,10.000000,sunny,41.00
1,23-02-01,New York,8.4,65.000000,12.000000,cloudy,47.12
2,23-01-03,New York,7.0,58.978723,8.000000,rainy,44.60
4,23-01-02,London,6.0,75.000000,20.000000,snowy,42.80
5,23-03-01,London,8.4,80.000000,18.000000,cloudy,47.12
6,23-01-01,Tokyo,10.0,50.000000,5.000000,sunny,50.00
7,23-02-01,Tokyo,12.0,55.000000,6.000000,cloudy,53.60
9,23-01-25,New York,8.4,51.000000,20.300000,sunny,47.12
12,23-07-01,New York,8.4,58.978723,17.900000,snowy,47.12
14,23-01-15,London,8.4,56.000000,14.352727,rainy,47.12
15,23-01-14,London,8.4,65.000000,15.100000,rainy,47.12
16,23-01-12,Tokyo,8.4,61.000000,14.352727,rainy,47.12
20,23-01-25,Tokyo,6.2,58.978723,27.100000,rainy,43.16
21,23-01-17,Tokyo,19.3,43.000000,14.352727,rainy,66.74
23,23-01-05,London,8.4,60.000000,14.352727,rainy,47.12
26,23-01-14,Tokyo,8.4,58.978723,29.700000,sunny,47.12
28,23-01-16,New York,8.4,58.978723,14.352727,rainy,47.12
29,23-01-14,London,8.4,58.978723,14.352727,sunny,47.12
30,23-01-14,New York,8.4,89.000000,27.800000,cloudy,47.12
32,23-01-26,Tokyo,-2.7,58.978723,14.352727,rainy,27.14
33,23-01-18,Tokyo,8.4,55.000000,2.200000,cloudy,47.12
34,23-01-25,New York,12.9,58.978723,5.700000,sunny,55.22
35,23-01-07,London,8.4,72.000000,8.100000,sunny,47.12
36,23-01-17,New York,8.4,61.000000,25.100000,rainy,47.12
37,23-01-14,New York,8.4,89.000000,23.300000,rainy,47.12
41,23-01-29,Tokyo,10.2,58.978723,14.352727,cloudy,50.36
43,23-01-21,Tokyo,8.4,44.000000,3.500000,rainy,47.12
44,23-01-14,London,8.4,69.000000,11.400000,rainy,47.12
46,23-01-14,Tokyo,8.4,58.978723,14.352727,snowy,47.12
49,23-01-21,Tokyo,3.4,49.000000,3.500000,snowy,38.12
50,23-10-01,London,8.4,46.000000,14.352727,rainy,47.12
53,23-01-12,New York,8.4,58.978723,2.300000,sunny,47.12
55,23-01-22,New York,13.4,58.978723,14.352727,snowy,56.12
56,23-01-29,New York,3.4,58.978723,14.352727,snowy,38.12
58,23-01-14,New York,8.4,31.000000,14.352727,snowy,47.12
59,23-01-21,Tokyo,8.4,88.000000,14.352727,cloudy,47.12
62,23-01-14,New York,8.4,58.978723,18.400000,cloudy,47.12
64,23-01-27,London,18.1,59.000000,1.000000,snowy,64.58
66,23-01-29,New York,9.3,58.978723,26.100000,cloudy,48.74
67,23-01-14,Tokyo,8.4,42.000000,14.352727,cloudy,47.12
68,23-01-04,Tokyo,8.4,76.000000,6.400000,snowy,47.12
70,23-01-15,New York,12.2,58.978723,16.500000,rainy,53.96
72,23-05-01,London,8.4,58.978723,14.352727,rainy,47.12
73,23-01-16,Tokyo,5.8,58.978723,14.352727,rainy,42.44
76,23-01-27,New York,8.4,58.978723,17.400000,rainy,47.12
79,23-01-14,Tokyo,8.4,30.000000,12.700000,cloudy,47.12
80,23-01-16,Tokyo,-3.7,60.000000,14.352727,rainy,25.34
82,23-01-24,New York,4.8,76.000000,14.352727,rainy,40.64
84,23-10-01,New York,8.4,88.000000,0.800000,cloudy,47.12
86,23-01-05,Tokyo,-1.7,58.978723,23.000000,cloudy,28.94
89,23-01-06,London,8.4,85.000000,9.300000,rainy,47.12
92,23-01-25,London,8.4,58.978723,29.900000,cloudy,47.12
95,23-01-01,London,8.4,58.978723,14.352727,rainy,47.12
96,23-01-09,London,8.4,58.978723,14.352727,rainy,47.12
97,23-01-11,Tokyo,8.4,58.978723,14.352727,sunny,47.12

In [32]:
os.makedirs('outputs', exist_ok=True)
df.to_csv('outputs/transformed_weather_data.csv', index=False)

In [38]:
df.loc[:, 'temperature_celsius'] = pd.to_numeric(df['temperature_celsius'],  errors='coerce')
top5_highest = df.nlargest(5, 'temperature_celsius')

/tmp/ipykernel_3558/2968888847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'temperature_celsius'] = pd.to_numeric(df['temperature_celsius'],  errors='coerce')

In [39]:
top5_highest

,date,city,temperature_celsius,humidity_percent,wind_speed_kph,weather_condition,temperature_fahrenheit
21,23-01-17,Tokyo,19.3,43.000000,14.352727,rainy,66.74
64,23-01-27,London,18.1,59.000000,1.000000,snowy,64.58
55,23-01-22,New York,13.4,58.978723,14.352727,snowy,56.12
34,23-01-25,New York,12.9,58.978723,5.700000,sunny,55.22
70,23-01-15,New York,12.2,58.978723,16.500000,rainy,53.96

In [41]:
with open('outputs/top5_highest_cities.txt', 'w') as file:
    file.write(top5_highest.to_string(index=False))